@font-face {
    font-family: 'dincondensedcregular';
    src: url('fonts/dincondensedc.eot');
    src: url('fonts/dincondensedc.eot?#iefix') format('embedded-opentype'),
         url('fonts/dincondensedc.woff2') format('woff2'),
         url('fonts/dincondensedc.woff') format('woff'),
         url('fonts/dincondensedc.ttf') format('truetype'),
         url('fonts/dincondensedc.svg#dincondensedcregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pf_din_text_cond_prolight';
    src: url('fonts/pfdintextcondpro-light.eot');
    src: url('fonts/pfdintextcondpro-light.eot?#iefix') format('embedded-opentype'),
         url('fonts/pfdintextcondpro-light.woff2') format('woff2'),
         url('fonts/pfdintextcondpro-light.woff') format('woff'),
         url('fonts/pfdintextcondpro-light.ttf') format('truetype'),
         url('fonts/pfdintextcondpro-light.svg#pf_din_text_cond_prolight') format('svg');
    font-weight: normal;
    font-style: normal;
}