// Placeholder color
@mixin placeholder($color) {
    &::-webkit-input-placeholder {color: $color;}
    &::-moz-placeholder {color: $color;}
    &:-moz-placeholder {color: $color;}
    &:-ms-input-placeholder {color: $color;}
}

// Clearfix
@mixin clearfix {
  &:after {
  	content: ' ';
  	
    visibility: hidden;
    display: block;
 	height: 0;
 	
    clear: both;
  }
}