// Responsive
$tablet: 992px;
$tablet_m: 991px;
$mobile: 767px;
$mobile_m: 768px;


// Vars
$top_height: 100px;
$footer_height: 160px;
$offset: 15px;


// Colors
$black: #000;
$white: #FFF;
$dark: #4e010d;
$red: #811924;
$red2: #900d1d;
$red3: #dc2f3c;


// Fonts
$sans: "Oriflame Sans", Arial, sans-serif;
$gill: "GillSansAltOneWGL", Arial, sans-serif;