// Modals
.modal-open {
  overflow: hidden;
  
  .modal {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.fade {
  opacity: 0;
  
  transition: opacity 0.15s linear;
  
  &.in {
    opacity: 1;
  }
}

.modal {
  z-index: 1050;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  overflow: hidden;
  display: none;
  
  outline: 0;
  
  -webkit-overflow-scrolling: touch;
  
  .btn-close {
    position: absolute;
    top: -70px;
    right: -70px;
    
    display: block;
    width: 64px;
    height: 64px;
    
    background: url(images/ico-close-w.png) no-repeat;
    background-size: 31px 31px;
    
    text-indent: -9999px;
    
    transition: all .25s;
    
    @media (max-width: $tablet) {
      top: -80px;
      right: 10px;
      
      display: block;
      width: 55px;
      height: 55px;
    }

    &:hover {
      &:after {
        opacity: 1;
      }
    }
  }
  
  &.fade {
    .modal-dialog {
      transform: translate(0, -25%);
      transition: transform 0.3s ease-out;
    }
  }

  &.in {
    .modal-dialog {
      transform: translate(0, 0);
    }
  }
}

.modal-dialog {
  position: relative;
  width: 767px;
  margin: 80px auto;
  
  @media (max-width: $tablet) {
    width: 100%;
    max-width: 767px;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (max-width: $mobile) {
    width: auto;
    margin-top: 100px;
    margin-right: 10px;
    margin-left: 10px;
  }
}

.modal-content {
  position: relative;
    
  box-sizing: border-box;

  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  
  outline: 0;
}

.modal-backdrop {  
  z-index: 1040;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  background-color: rgba(darken(#72121d, 5),0.96);
  
  &.fade {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  &.in {
    opacity: 1;
    filter: alpha(opacity=100);
  }
}


// Modal vertical middle
@media (min-width: $tablet_m) {
  .modal_vam {
    padding: 0!important;
    text-align: center;

    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      margin-right: -4px;
      
      vertical-align: middle;
    }

    .modal-dialog {
      display: inline-block;
      
      text-align: left;
      vertical-align: middle;
    }
  }
}


// Modal age
.modal_age {

  @media (max-width: $tablet) {
    padding-bottom: 100px;
  }

  .modal-dialog {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  h3 {
    margin: 0 0 25px 0;
    
    font: bold 36px/120% "dincondensedcregular", Arial;
    color: $white;
    text-transform: uppercase;
    text-align: center;
    
    @media (max-width: $mobile) {
      margin-bottom: 10px;
      
      font-size: 26px;
    }
  }

  h4 {
    margin: 0 0 15px 0;
    
    font: bold 24.5px/120% "dincondensedcregular", Arial;
    color: $white;
    text-transform: uppercase;
    text-align: center;
  }

  &__copy {
    max-width: 350px;
    margin: 0 auto;

    p {
      margin: 0 0 5px 0;
      
      font: normal 12px/120% "pf_din_text_cond_prolight", Arial;
      color: $white;
      text-align: center;
      
      a {
        color: inherit;
        transition: all .25s;
        
        &:hover {
          color: #DA1A33;
        }
      }
    } 
  }

  .inp-group {
    @include clearfix;
    
    margin: 0 -5px 50px -5px;

    .inp-line {
      position: relative;

      float: left;
      width: 25%;
      padding: 0 10px;
      
      @media (max-width: $tablet) {
        width: 33.3333333%;

        &:last-child {
          width: 100%;
          padding-top: 20px;
        }
      }

      @media (max-width: $mobile) {
        width: 33.333333%;
        padding-top: 15px;
      }
      
      .error {
        position: absolute;
        top: 55px;
        right: 0;
        left: 0;
        
        font: normal 12px/120% "pf_din_text_cond_prolight", Arial;
        color: #f00;
        text-align: center;
        
        @media (max-width: 767px) {
          top: 66px;
          
          font-size: 8px;
        }
      }
    }

    .inp-style {
      outline: none;

      width: 100%;
      height: 50px;
      border: 0;
      
      border-radius: 4px;
      
      background-color: $white;
      
      font: bold 24px/100% "dincondensedcregular", Arial;
      color: $black;
      text-transform: uppercase;
      text-align: center;
    }

    .btn-submit {
      width: 100%;
      height: 50px;
      
      border-radius: 4px;
      
      background-color: #da1a33;
      
      font: bold 24px/100% "dincondensedcregular", Arial;
      color: $white;
      text-transform: uppercase;
      text-align: center;
      
      transition: all .25s;
      
      &:hover {
        background-color: lighten(#da1a33, 5);
      }
    }
  }

  .inp-error {
    .inp-style {
       box-shadow: inset 0 0 0 2px #f00;
    }
  }


  .footer {
    @media (max-width: $tablet) {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
    }

    &__bt-left {
      float: none;
    }
  }
}